body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
}
.container {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
header {
    background-color: #efefef;
}
.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 4px 0;
    align-items: baseline;
    margin: 0;
}
.nav > li {
    margin-left: 15px;
    margin-right: 15px;
}
.nav > li > a{
    text-decoration: none;
    color: #333333;
}
.btn-card {
    font-size: 14px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid#786532;
    padding: 10px 25px;
    transition: 0.2s ease;
    cursor: pointer;
    outline: none;
}
.btn-card:hover {
    background-color: wheat;
}
.products{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.products-item {
    background-color: thistle;
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
}